---
// import Card from "./Card.astro"
// import {Icon} from "astro-icon/components"
import {idContactMenu} from "@utils/shared"
import ToggleMode from "./ToggleMode"
---


<!-- <div class="sticky top-0">
    <div class=" flex justify-between items-center py-4 px-60"> 
        <div>
            <h1 class="logo">JTS</h1>
        </div>
        <div class="flex gap-12 items-center">
            <a class="menu-text text-sm font-normal">About</a>
            <a class="menu-text text-sm font-normal">Experience</a>
            <a class="menu-text text-sm font-normal">Work</a>
            <a class="menu-text text-sm font-normal">Contract</a>
            <Icon name="ion:contrast" class="text-base text-white cursor-pointer" />
        </div>
    </div>
</div> -->
<div class="flex justify-between items-center">
    <!-- <div class="hover:cursor-pointer"> -->
    <div class="">
        <p class="text-sm name-text text-dark-blue font-semibold">Jeffrey</p>
        <p class="text-sm name-text text-orange font-semibold ml-8">Sabarman</p>
    </div>
    <div class="flex space-x-6">
        <div class="flex space-x-20">
            <!-- <p class="text-sm">About</p> -->
            <!-- <p class="text-sm">Projects</p> -->
            <p class="text-sm hover:cursor-pointer" id={idContactMenu}>Contact</p>
        </div>
        <!-- <ToggleMode /> -->
    </div>
</div>
<style>
    .logo {
        /* color: #FF7F3E; */
        font-size: xx-large;
    }
    .menu-text {
        color: white;
        text-decoration: dashed;
        cursor: pointer;
    }
    .name-text {
        /* color: #E8ECF1 */
    }
</style>
<script>
import { idContactSection, idContactMenu } from "@utils/shared";

    const contactMenu = document.getElementById(idContactMenu);
    contactMenu?.addEventListener("click", () => {
      const contactSection = document.getElementById(idContactSection)
      contactSection?.scrollIntoView({behavior: "smooth", block: "center"})
    });
  </script>