---


---
<div class="h-screen flex items-center">
    <div class="flex-col">
        <p class="text-white font-thin text-sm">Hi, my name is</p>
        <p class="text-white font-medium text-3xl">Jeffrey Triandi Sabarman</p>
        <p class="text-orange font-semibold text-2xl">Front End Engineer</p>
    </div>
</div>
<style>

</style>
