---


---
<div class="py-[4rem] flex-col space-y-[2.8rem]">
    <!-- <div class="flex-col">
        <p class="text-white font-thin text-sm">Hi, my name is</p>
        <p class="text-white font-medium text-3xl">Jeffrey Triandi Sabarman</p>
        <p class="text-orange font-semibold text-2xl">Front End Engineer</p>
    </div>
</div> -->
    <p class="text-xl">I'm a web developer currently doing a master's in Data Science and AI in Liverpool, UK</p>
    <button>Get in touch!</button>
</div>
<style>
    button {
        background-color: #EF9C66;
        padding: 0.6rem 1rem;
        border-radius: 0.2rem;
        color: #ffffff;
    }
</style>
