---
import ButtonLink from "./shared/ButtonLink.astro"
import SectionTitle from "./shared/SectionTitle.astro"
import colors from "tailwindcss/colors"

const skills: {text: string, link: string}[] = [
    {text: "JavaScript (ES6+)", link: "https://developer.mozilla.org/en-US/docs/Web/JavaScript"}, 
    {text: "TypeScript", link: "https://www.typescriptlang.org/"}, 
    {text: "Python", link: "https://www.python.org/"}, 
    {text: "React", link: "https://react.dev/"}, 
    {text: "Next.js", link: "https://nextjs.org/"}, 
    {text: "Node.js", link: "https://nodejs.org/en"}
]
---
<div class="flex-col space-y-10">
    <SectionTitle text="Development Stack" />
    <div class="grid grid-cols-3 max-md:grid-cols-2 gap-[1rem]">
        {
            skills.map(skill => (
                // <div class="box">
                //     <p class="">{skill}</p>
                // </div>
                <ButtonLink link={skill.link} fullwidth>{skill.text}</ButtonLink>
            ))
        }
    </div>
</div>
<style>
    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        /* border: 0.1rem solid theme('colors.default'); */
        background-color: theme('colors.dark-blue');
        border-radius: 0.2rem;
        color: white;
        /* margin-bottom: 1rem; */
    }
    .box:hover {
        /* background-color: theme('colors.dark-blue'); */
        cursor: pointer;
        /* color: white */
    }
</style>