---
interface Props {
    link: string
    fullwidth?: boolean
    variant?: "primary" | "secondary"
}

const {link, fullwidth, variant="primary"} = Astro.props
---
<a href={link} target="_blank">
    <button 
    class={`${fullwidth ? "w-full": ""} ${variant}`}
    >
    <p class=""><slot /></p>
</button>
</a>
<style>
    button {
        /* background-color: theme('colors.dark-blue'); */
        /* background-color: #80C4E9; */
        padding: 0.6rem 1rem;
        border-radius: 0.2rem;
        border-width: 0.1rem;
        border-style: solid;
    }
    button.primary {
        color: theme('colors.dark-blue');
        border-color: theme('colors.dark-blue');
        background-color: transparent;
    }
    button.primary:hover {
        /* opacity: 80%; */
        /* background-color: theme("colors.dark-blue"); */
        /* color: theme("colors.light-orange"); */
        background-color: #ecf5fc;
    }
    :global(html.dark) button.primary {
        color: white;
        background-color: #295F98;
        border-color: transparent;
    }
    :global(html.dark) button.primary:hover {
        background-color: #214c7a;
    }
    button.secondary {
        color: theme('colors.light-orange');
        border-color: theme('colors.light-orange');
    }
    button.secondary:hover {
        background-color: #f8f0ea;
    }
    :global(html.dark) button.secondary:hover {
        background-color: #412919;
    }
</style>
