---
interface Props {
	pageTitle: string;
}

import Header from "@components/Header/headerIndex.astro"
import Hero from "@components/Hero.astro"

const { pageTitle } = Astro.props;
const layoutResponsive = "max-[1450px]:px-[20vw] max-[1050px]:px-[14vw] max-[800px]:px-[10vw]"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<div class={`px-[26vw] py-[2.4rem] flex flex-col space-y-[6rem] ${layoutResponsive}`}>
			<Header />
			<!-- <Hero /> -->
			<slot />
		</div>		
	</body>
</html>
<style is:global>
	/* :root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	} */
	:root {
		/* background-color: #292B3C; */
		background-color: #FCF8F3;
	}
	html {
		font-family: poppins, sans-serif;
		font-size: 16px;
		color: #41444B;
		@media screen and (max-width: 640px ) {
			font-size: 14px;
		}

		@media screen and (min-width: 2000px ) {
			font-size: 20px;
		}
	}
	/* code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	} */
</style>
